<div class="container">
  <div class="row">
    <div class="col-xl text-center">
      <h2>Inflation calculator</h2>
      <p>Visualize relative value of a money amount on a time span. Data source is worldbank inflation data
        from 1961 to 2015 for {{ (selectableCountries$|async)?.length }} economic zones.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 push-md-1">
      <form class="form-inline lead" novalidate [formGroup]="form">
        In&nbsp;
        <span class="country-selector-wrapper">
        <ng-select
          class="country-selector"
          [options]="selectableCountries$|async"
          placeholder="United States"
          formControlName="country">
        </ng-select>
        </span>, an amount of&nbsp;
        <input class="form-control" type="number" min="0" formControlName="amount" placeholder="42,000"/>
        &nbsp;in the year&nbsp;
        <input class="form-control" type="number"
               min="(countryData$|async)?.minYear()"
               max="(countryData$|async)?.maxYear()"
               formControlName="year"/>
        &nbsp;has the same buying power than&nbsp;
        <strong>{{ (queryResult$|async)?.actualizedAmount | number:'1.2-2' }}</strong>
        &nbsp;in the year&nbsp;
        <input class="form-control" type="number" formControlName="actualizedYear"/>
      </form>
    </div>
  </div>
</div>
<app-country-data-graph *ngIf="queryResult$|async"
></app-country-data-graph>
